* { 
    margin: 0px; 
    padding: 0px; 
}

body {
  vertical-align: top;
}

.main h3{
   margin: 40px 15px 15px; 
   font-size: 30px;
}

.header {
   width: 100%;
   background-color: #7E0F09;
   color: #fff;
   padding: 20px 10px ;
 }
 
 h1 { size: 35px; }
 
 footer,.footer{
   width: 100%;
   background-color: #7E0F09;
   color: #fff;
   padding: 20px 10px ;
   position: absolute;
   bottom: 0; 
   left: 0;
 }
 
 table {
   margin: 15px;
   border-collapse:collapse;
 }
 
table,th,td{
  border:1px solid #000;
}
 
 table th {
   background-color: #FFBDBD;
   padding: 10px 20px;
 }
 
 table td {
   background-color: #ffe4e1;
   padding: 10px 20px;
 }
 
 .notice {
  background-color: #FADBDA;
  margin-left: 15px;
  padding: 15px 70px;
  display: inline-block;
}

textarea{
    width: 150px;
    height: 100px;
  }